<!--
extends layout

block content
  h1= title
  p Welcome to #{title}

-->

<% include layout %>



<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    
                    <!--ค้นหา-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">ค้นหา</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                aaa
                            </div>
                        </div>
                    </div>
                    
                    <!--ตารางคำนำหน้า-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">ตารางคำนำหน้า</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                aaa
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>